<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Добавление типа пар</title>
</head>
<body>
    <form method="post" action="/addition/coupleType">
        <br><br>
        <input type="text" name="pair_type" placeholder="Тип пары" required>
        <br><br>
        <button type="submit">Добавить</button>
    </form>
    <br><br><br><br><br><br>
    <form action="/addition/group">
        <button type="submit" style="background:black; color: white;">Группа</button>
    </form>
    <form action="/addition/direction">
        <button type="submit" style="background:black; color: white;">Дисциплина</button>
    </form>
    <form action="/addition/faculty">
        <button type="submit" style="background:black; color: white;">Факультет</button>
    </form>
    <form action="/addition/address">
        <button type="submit" style="background:black; color: white;">Адрес</button>
    </form>
    <form action="/addition/departament">
        <button type="submit" style="background:black; color: white;">Кафедра</button>
    </form>
    <form action="/addition/classroom">
        <button type="submit" style="background:black; color: white;">Аудитория</button>
    </form>
    <form action="/addition/professor">
        <button type="submit" style="background:black; color: white;">Преподователь</button>
    </form>
    <form action="/addition/schedule">
        <button type="submit" style="background:black; color: white;">Расписание</button>
    </form>

</body>
</html>