<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Добавление кафедры</title>
</head>
<body>
    <form method="post" action="/addition/departament">
        <br><br>
        <input type="text" name="name"  placeholder="Название кафедры" required>
        <input type="text"  name="phone" placeholder="Номер телефона" required>
        <input type="text" name="faculty" placeholder="Факультет" required>
        <br><br>
        <button type="submit">Добавить</button>
    </form>
</body>
</html>