<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>404 Not found</title>
    <style>
        body {
            background-color: black;
            }
        button{
            font-weight:bolder;
        }
    </style>
</head>
<div style="color:red;font-weight: bolder;font-size: 4em;">Сервер не существует, доступные сайты:</div>
<body>
    <br><br><br><br><br><br>
    <form action="/addition/direction">
        <button type="submit" style="background:black; color: white;font-size: 2em;">Дисциплина</button>
    </form>
    <form action="/addition/faculty">
        <button type="submit" style="background:black; color: white;font-size: 2em;">Факультет</button>
    </form>
    <form action="/addition/address">
        <button type="submit" style="background:black; color: white;font-size: 2em;">Адрес</button>
    </form>
    <form action="/addition/departament">
        <button type="submit" style="background:black; color: white;font-size: 2em;">Кафедра</button>
    </form>
    <form action="/addition/coupleType">
        <button type="submit" style="background:black; color: white;font-size: 2em;">Тип пар</button>
    </form>
    <form action="/addition/classroom">
        <button type="submit" style="background:black; color: white;font-size: 2em;">Аудитория</button>
    </form>
    <form action="/addition/professor">
        <button type="submit" style="background:black; color: white;font-size: 2em;">Преподователь</button>
    </form>
    <form action="/addition/schedule">
        <button type="submit" style="background:black; color: white;font-size: 2em;">Расписание</button>
    </form>
    <form action="/addition/group">
        <button type="submit" style="background:black; color: white;font-size: 2em;">Группы</button>
    </form>
    <form action="/auth">
        <button type="submit" style="background:black; color: white;font-size: 2em;">Аутентифекация</button>
    </form>
    <form action="/register">
        <button type="submit" style="background:black; color: white;font-size: 2em;">Регистрация</button>
    </form>
    <form action="/users">
        <button type="submit" style="background:black; color: white;font-size: 2em;">Список пользователей</button>
    </form>
    <form action="/direction">
        <button type="submit" style="background:black; color: white;font-size: 2em;">Список кафедр</button>
    </form>
    <form action="/faculties">
        <button type="submit" style="background:black; color: white;font-size: 2em;">Список факультетов</button>
    </form>
    <form action="/schedules">
        <button type="submit" style="background:black; color: white;font-size: 2em;">Список пар</button>
    </form>
    
</body>
</html>