<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>404 Not found</title>
    <style>
        body {
            background-color: black;
            }
        button{
            font-weight:bolder;
        }
    </style>
</head>
<div style="color:red;font-weight: bolder;font-size: 4em;">ВЫ УДАЛИЛИ ИНТЕРНЕТ</div>
<body>
    <br><br><br><br><br><br>
    <form action="/">
        <button type="submit" style="background:black; color: white;font-size: 2em;">Вернуться назад</button>
    </form>
    
</body>
</html>