<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Добавление группы</title>
</head>
<body>
    <form method="post" action="/addition/group">
        <br><br>
        <input type="text" name="group_name" placeholder="Группа" required>
        <input type="text" name="direction_abbreviation" placeholder="Абривеатура группы" required>
        <br><br>
        <button type="submit">Добавить</button>
    </form>
</body>
</html>