<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ввод данных в бд</title>
</head>
<body>
    <form method="post" action="/addData">
        <br><br>
        <input type="text" name="discipline"  placeholder="Дисциплина">
        <input type="text"  name="classroom" placeholder="Аудитория">
        <input type="text" name="group_name" placeholder="Группа">
        <input type="text" name="pair_name" placeholder="Номер пары">
        <input type="text" name="teacher_name" placeholder="Преподователь">
        <input type="text" name="day_of_the_week" placeholder="День недели">
        <input type="text" name="week" placeholder="Неделя">
        <input type="text" name="subgroup" placeholder="Подгруппа">
        <br><br>
        <button type="submit">Добавить</button>
    </form>
</body>
</html>