<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>меню челгу</title>
		<link href="css.boot/bootstrap.min.css" rel="stylesheet">
		<link href="css.boot/docs.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css">
		<script src="js.boot/bootstrap.bundle.min.js"></script>
	</head>

	<body class="menu">
		<footer class="footer1">
			<div class="top-menu">
				<a href="javascript:history.back()" id="showMenu" ><img src="css/images/back.png" width="20px"></a> <button class="btn-top-menu">Экспорт</button> <button class="btn-top-menu">Импорт</button> <button class="btn-top-menu">Сохранить</button>
			</div>
			<div class="top-menu2">
				<div class="top-menu2-left">
					<label for="rb1"><input type="radio" name="rb" id="rb1">1Н</label>
					<label for="rb2"><input type="radio" name="rb" id="rb2">2Н</label>
					<label class="btn-top-menu2" for="ch1"><input type="checkbox" id="ch1"> Диапазон недели</label>
					<form>
						<select id="subgroup" class="btn-top-menu2" name="subgroup">
							<option value="1">Количество подгрупп: 1</option>
							<option value="2">Количество подгрупп: 2</option>
							<option value="3">Количество подгрупп: 3</option>
						</select>
					</form>
					<label class="btn-top-menu2" for="ch2"><input type="checkbox" id="ch2"> Аудитория</label>
					<label class="btn-top-menu2" for="ch3"><input type="checkbox" id="ch3"> Адрес</label>
					<label class="btn-top-menu2" for="ch4"><input type="checkbox" id="ch4"> Время</label>
					<button class="btn-top-menu2" id="AddFlow">Добавить поток</button>
					<div class="top-menu2-left-down"> <!-- кнопки групп -->
						<div class="napravleniya" id="Flow">
							<button class="napravleniya-btn">МП</button>
							<button class="napravleniya-btn">МТ</button>
							<button class="napravleniya-btn">МН</button>
							<button class="napravleniya-btn">МК</button>
							<button class="napravleniya-btn">МПмаг</button>
							<button class="napravleniya-btn">МТмаг</button>
							<button class="napravleniya-btn">ММмаг</button>
						</div>
						<script src="js/AddFlow.js"></script>
						<div class="gruppy">
							<button class="gruppy-btn">МП-201</button>
							<button class="gruppy-btn">МП-202</button>
							<button class="gruppy-btn">МП-203</button>
						</div>
					</div>
				</div>

				<div class="top-menu2-right">
					<div class="editing-area">
						Область редактирования
						<table class="editing-area-table">
							<tr><th class="th-EA">Группа</th><th class="th-EA">Пн</th><th class="th-EA">Вт</th><th class="th-EA">Ср</th><th class="th-EA">Чт</th><th class="th-EA">Пт</th><th class="th-EA">Сб</th></tr>
							<tr><th class="th-EA">МП-201</th><td class="td-EA">2</td><td class="td-EA">_</td><td class="td-EA">_</td><td class="td-EA">_</td><td class="td-EA">3</td><td class="td-EA">_</td></tr>
							<tr><th class="th-EA">МП-202</th><td class="td-EA">2</td><td class="td-EA">_</td><td class="td-EA">_</td><td class="td-EA">_</td><td class="td-EA">3</td><td class="td-EA">_</td></tr>
							<tr><th class="th-EA">МП-203</th><td class="td-EA">2</td><td class="td-EA">_</td><td class="td-EA">_</td><td class="td-EA">_</td><td class="td-EA">3</td><td class="td-EA">_</td></tr>
						</table>
					</div>
					
					<div class="week-range"> <!-- Диапазон недель -->
					Диапазон недель
						<div>
							<input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
							<label class="btn btn-outline-primary week-range-btn" for="btncheck1">1</label>
							<input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
							<label class="btn btn-outline-primary week-range-btn" for="btncheck2">2</label>
							<input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
							<label class="btn btn-outline-primary week-range-btn" for="btncheck3">3</label>
							<input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
							<label class="btn btn-outline-primary week-range-btn" for="btncheck4">4</label>
							<input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
							<label class="btn btn-outline-primary week-range-btn" for="btncheck5">5</label>
							<input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
							<label class="btn btn-outline-primary week-range-btn" for="btncheck6">6</label>
						</div>
						<div>
							<input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
							<label class="btn btn-outline-primary week-range-btn" for="btncheck7">7</label>
							<input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
							<label class="btn btn-outline-primary week-range-btn" for="btncheck8">8</label>
							<input type="checkbox" class="btn-check" id="btncheck9" autocomplete="off">
							<label class="btn btn-outline-primary week-range-btn" for="btncheck9">9</label>
							<input type="checkbox" class="btn-check" id="btncheck10" autocomplete="off">
							<label class="btn btn-outline-primary week-range-btn" for="btncheck10">10</label>
							<input type="checkbox" class="btn-check" id="btncheck11" autocomplete="off">
							<label class="btn btn-outline-primary week-range-btn" for="btncheck11">11</label>
							<input type="checkbox" class="btn-check" id="btncheck12" autocomplete="off">
							<label class="btn btn-outline-primary week-range-btn" for="btncheck12">12</label>
						</div>
						<div>
							<input type="checkbox" class="btn-check" id="btncheck13" autocomplete="off">
							<label class="btn btn-outline-primary week-range-btn" for="btncheck13">13</label>
							<input type="checkbox" class="btn-check" id="btncheck14" autocomplete="off">
							<label class="btn btn-outline-primary week-range-btn" for="btncheck14">14</label>
							<input type="checkbox" class="btn-check" id="btncheck15" autocomplete="off">
							<label class="btn btn-outline-primary week-range-btn" for="btncheck15">15</label>
							<input type="checkbox" class="btn-check" id="btncheck16" autocomplete="off">
							<label class="btn btn-outline-primary week-range-btn" for="btncheck16">16</label>
							<input type="checkbox" class="btn-check" id="btncheck17" autocomplete="off">
							<label class="btn btn-outline-primary week-range-btn" for="btncheck17">17</label>
							<input type="checkbox" class="btn-check" id="btncheck18" autocomplete="off">
							<label class="btn btn-outline-primary week-range-btn" for="btncheck18">18</label>			
						</div>
					</div>
				</div>
			</div>
			
		</footer>
		<main class="under1">
			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Понедельник
					</button>
					</h2>
				<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						   <table class="vremennaya-table">
								<thead>
									<tr><th width="84%">МП-201</th><th>МП-202</th><th>МП-203</th><th>+</th></tr>
								</thead>
								<tbody>
									<tr>
										<td class="vremennaya"><select class="select12">
										<option>#1</option>
										<option>#2</option>
										<option>#3</option>
										<option>#4</option>
										<option>#5</option>
										<option>#6</option>
										<option>#7</option>
										<option>#8</option>
									</select>	<select class="select123">
										<option hidden>Дисциплина</option>
										<option>Дифференциальные уравнения</option>
										<option>Блокчейн в цифровой экономике</option>
										<option>Принятие решений при многих критериях</option>
										<option>Математика</option>
										<option>Дискретная математика</option>
										<option>Математический анализ</option>
										<option>Линейная алгебра</option>
										<option>Дифференциальная геометрия</option>
									</select></td> <td></td><td></td><td><button class="udalit" background-image: url("images/trash.jpg")></button></td>
									</tr>
									<tr>
										<td class="vremennaya"><select class="select123">
										<option hidden>Преподаватель</option>
										<option>Алеева С.Р.</option>
										<option>Красильникова Е.С.</option>
										<option>Кораблев Ф.Г.</option>
										<option>Маткин И.А.</option>
										<option>Лепчинский М.Г.</option>
										<option>Иванов С.А.</option>
										<option>Тюрина И.А.</option>
										<option>Дымшаков А.И. </option>
									</select>	<select class="select123">
										<option hidden>Преподаватель</option>
										<option>Алеева С.Р.</option>
										<option>Красильникова Е.С.</option>
										<option>Кораблев Ф.Г.</option>
										<option>Маткин И.А.</option>
										<option>Лепчинский М.Г.</option>
										<option>Иванов С.А.</option>
										<option>Тюрина И.А.</option>
										<option>Дымшаков А.И. </option>
									</select> <button class="plusik">+</button></td> <td></td><td></td><td></td>
									</tr>
									<tr>
										<td class="vremennaya">
											<select class="select123">
												<option hidden>Аудитория</option>
												<option>АУД. 436</option>
												<option>АУД. 201</option>
												<option>АУД.314 (2к)</option>
												<option>АУД.115А</option>
												<option>АУД. 437</option>
												<option>АУД. 426А</option>
												<option>АУД. 431</option>
												<option>АУД. А-13</option>
											</select>	<select class="select123">
												<option hidden>Аудитория</option>
												<option>АУД. 436</option>
												<option>АУД. 201</option>
												<option>АУД.314 (2к)</option>
												<option>АУД.115А</option>
												<option>АУД. 437</option>
												<option>АУД. 426А</option>
												<option>АУД. 431</option>
												<option>АУД. А-13</option>
											</select> <button class="plusik">+</button></td> <td></td><td></td><td></td>
										</td>
									</tr>
									<tr>
										<td class="vremennaya"><label for="rb4"><input type="radio" name="rb" id="rb4">1Н</label>
										<label for="rb3"><input type="radio" name="rb" id="rb3">2Н</label>
										<label class="btn-top-menu2" for="ch7"><input type="checkbox" id="ch7"> Диапазон недели</label></td> <td></td><td></td>
									</tr>
									<tr>
										<td><button class="plusik">+</button></td><td></td><td></td><td></td>		
									</tr>						
								</tbody>
						   </table>
					</div>
				</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Вторник
					</button>
					</h2>
				<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<table class="vremennaya-table">
							<thead>
								<tr><th width="84%">МП-201</th><th>МП-202</th><th>МП-203</th><th>+</th></tr>
							</thead>
							<tbody>
								<tr>
									<td class="vremennaya"><select class="select12">
									<option>#1</option>
									<option>#2</option>
									<option>#3</option>
									<option>#4</option>
									<option>#5</option>
									<option>#6</option>
									<option>#7</option>
									<option>#8</option>
								</select>	<select class="select123">
									<option hidden>Дисциплина</option>
									<option>Дифференциальные уравнения</option>
									<option>Блокчейн в цифровой экономике</option>
									<option>Принятие решений при многих критериях</option>
									<option>Математика</option>
									<option>Дискретная математика</option>
									<option>Математический анализ</option>
									<option>Линейная алгебра</option>
									<option>Дифференциальная геометрия</option>
								</select></td> <td></td><td></td><td><button class="udalit" background-image: url("images/trash.jpg")></button></td>
								</tr>
								<tr>
									<td class="vremennaya"><select class="select123">
									<option hidden>Преподаватель</option>
									<option>Алеева С.Р.</option>
									<option>Красильникова Е.С.</option>
									<option>Кораблев Ф.Г.</option>
									<option>Маткин И.А.</option>
									<option>Лепчинский М.Г.</option>
									<option>Иванов С.А.</option>
									<option>Тюрина И.А.</option>
									<option>Дымшаков А.И. </option>
								</select>	<select class="select123">
									<option hidden>Преподаватель</option>
									<option>Алеева С.Р.</option>
									<option>Красильникова Е.С.</option>
									<option>Кораблев Ф.Г.</option>
									<option>Маткин И.А.</option>
									<option>Лепчинский М.Г.</option>
									<option>Иванов С.А.</option>
									<option>Тюрина И.А.</option>
									<option>Дымшаков А.И. </option>
								</select> <button class="plusik">+</button></td> <td></td><td></td><td></td>
								</tr>
								<tr>
									<td class="vremennaya">
										<select class="select123">
											<option hidden>Аудитория</option>
											<option>АУД. 436</option>
											<option>АУД. 201</option>
											<option>АУД.314 (2к)</option>
											<option>АУД.115А</option>
											<option>АУД. 437</option>
											<option>АУД. 426А</option>
											<option>АУД. 431</option>
											<option>АУД. А-13</option>
										</select>	<select class="select123">
											<option hidden>Аудитория</option>
											<option>АУД. 436</option>
											<option>АУД. 201</option>
											<option>АУД.314 (2к)</option>
											<option>АУД.115А</option>
											<option>АУД. 437</option>
											<option>АУД. 426А</option>
											<option>АУД. 431</option>
											<option>АУД. А-13</option>
										</select> <button class="plusik">+</button></td> <td></td><td></td><td></td>
									</td>
								</tr>
								<tr>
									<td class="vremennaya"><label for="rb4"><input type="radio" name="rb" id="rb4">1Н</label>
									<label for="rb3"><input type="radio" name="rb" id="rb3">2Н</label>
									<label class="btn-top-menu2" for="ch7"><input type="checkbox" id="ch7"> Диапазон недели</label></td> <td></td><td></td>
								</tr>
								<tr>
									<td><button class="plusik">+</button></td><td></td><td></td><td></td>		
								</tr>						
							</tbody>
					   </table>
					</div>
				</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Среда
					</button>
					</h2>
				<div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<table class="vremennaya-table">
							<thead>
								<tr><th width="84%">МП-201</th><th>МП-202</th><th>МП-203</th><th>+</th></tr>
							</thead>
							<tbody>
								<tr>
									<td class="vremennaya"><select class="select12">
									<option>#1</option>
									<option>#2</option>
									<option>#3</option>
									<option>#4</option>
									<option>#5</option>
									<option>#6</option>
									<option>#7</option>
									<option>#8</option>
								</select>	<select class="select123">
									<option hidden>Дисциплина</option>
									<option>Дифференциальные уравнения</option>
									<option>Блокчейн в цифровой экономике</option>
									<option>Принятие решений при многих критериях</option>
									<option>Математика</option>
									<option>Дискретная математика</option>
									<option>Математический анализ</option>
									<option>Линейная алгебра</option>
									<option>Дифференциальная геометрия</option>
								</select></td> <td></td><td></td><td><button class="udalit" background-image: url("images/trash.jpg")></button></td>
								</tr>
								<tr>
									<td class="vremennaya"><select class="select123">
									<option hidden>Преподаватель</option>
									<option>Алеева С.Р.</option>
									<option>Красильникова Е.С.</option>
									<option>Кораблев Ф.Г.</option>
									<option>Маткин И.А.</option>
									<option>Лепчинский М.Г.</option>
									<option>Иванов С.А.</option>
									<option>Тюрина И.А.</option>
									<option>Дымшаков А.И. </option>
								</select>	<select class="select123">
									<option hidden>Преподаватель</option>
									<option>Алеева С.Р.</option>
									<option>Красильникова Е.С.</option>
									<option>Кораблев Ф.Г.</option>
									<option>Маткин И.А.</option>
									<option>Лепчинский М.Г.</option>
									<option>Иванов С.А.</option>
									<option>Тюрина И.А.</option>
									<option>Дымшаков А.И. </option>
								</select> <button class="plusik">+</button></td> <td></td><td></td><td></td>
								</tr>
								<tr>
									<td class="vremennaya">
										<select class="select123">
											<option hidden>Аудитория</option>
											<option>АУД. 436</option>
											<option>АУД. 201</option>
											<option>АУД.314 (2к)</option>
											<option>АУД.115А</option>
											<option>АУД. 437</option>
											<option>АУД. 426А</option>
											<option>АУД. 431</option>
											<option>АУД. А-13</option>
										</select>	<select class="select123">
											<option hidden>Аудитория</option>
											<option>АУД. 436</option>
											<option>АУД. 201</option>
											<option>АУД.314 (2к)</option>
											<option>АУД.115А</option>
											<option>АУД. 437</option>
											<option>АУД. 426А</option>
											<option>АУД. 431</option>
											<option>АУД. А-13</option>
										</select> <button class="plusik">+</button></td> <td></td><td></td><td></td>
									</td>
								</tr>
								<tr>
									<td class="vremennaya"><label for="rb4"><input type="radio" name="rb" id="rb4">1Н</label>
									<label for="rb3"><input type="radio" name="rb" id="rb3">2Н</label>
									<label class="btn-top-menu2" for="ch7"><input type="checkbox" id="ch7"> Диапазон недели</label></td> <td></td><td></td>
								</tr>
								<tr>
									<td><button class="plusik">+</button></td><td></td><td></td><td></td>		
								</tr>						
							</tbody>
					   </table>
					</div>
				</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					Четверг
					</button>
					</h2>
				<div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<table class="vremennaya-table">
							<thead>
								<tr><th width="84%">МП-201</th><th>МП-202</th><th>МП-203</th><th>+</th></tr>
							</thead>
							<tbody>
								<tr>
									<td class="vremennaya"><select class="select12">
									<option>#1</option>
									<option>#2</option>
									<option>#3</option>
									<option>#4</option>
									<option>#5</option>
									<option>#6</option>
									<option>#7</option>
									<option>#8</option>
								</select>	<select class="select123">
									<option hidden>Дисциплина</option>
									<option>Дифференциальные уравнения</option>
									<option>Блокчейн в цифровой экономике</option>
									<option>Принятие решений при многих критериях</option>
									<option>Математика</option>
									<option>Дискретная математика</option>
									<option>Математический анализ</option>
									<option>Линейная алгебра</option>
									<option>Дифференциальная геометрия</option>
								</select></td> <td></td><td></td><td><button class="udalit" background-image: url("images/trash.jpg")></button></td>
								</tr>
								<tr>
									<td class="vremennaya"><select class="select123">
									<option hidden>Преподаватель</option>
									<option>Алеева С.Р.</option>
									<option>Красильникова Е.С.</option>
									<option>Кораблев Ф.Г.</option>
									<option>Маткин И.А.</option>
									<option>Лепчинский М.Г.</option>
									<option>Иванов С.А.</option>
									<option>Тюрина И.А.</option>
									<option>Дымшаков А.И. </option>
								</select>	<select class="select123">
									<option hidden>Преподаватель</option>
									<option>Алеева С.Р.</option>
									<option>Красильникова Е.С.</option>
									<option>Кораблев Ф.Г.</option>
									<option>Маткин И.А.</option>
									<option>Лепчинский М.Г.</option>
									<option>Иванов С.А.</option>
									<option>Тюрина И.А.</option>
									<option>Дымшаков А.И. </option>
								</select> <button class="plusik">+</button></td> <td></td><td></td><td></td>
								</tr>
								<tr>
									<td class="vremennaya">
										<select class="select123">
											<option hidden>Аудитория</option>
											<option>АУД. 436</option>
											<option>АУД. 201</option>
											<option>АУД.314 (2к)</option>
											<option>АУД.115А</option>
											<option>АУД. 437</option>
											<option>АУД. 426А</option>
											<option>АУД. 431</option>
											<option>АУД. А-13</option>
										</select>	<select class="select123">
											<option hidden>Аудитория</option>
											<option>АУД. 436</option>
											<option>АУД. 201</option>
											<option>АУД.314 (2к)</option>
											<option>АУД.115А</option>
											<option>АУД. 437</option>
											<option>АУД. 426А</option>
											<option>АУД. 431</option>
											<option>АУД. А-13</option>
										</select> <button class="plusik">+</button></td> <td></td><td></td><td></td>
									</td>
								</tr>
								<tr>
									<td class="vremennaya"><label for="rb4"><input type="radio" name="rb" id="rb4">1Н</label>
									<label for="rb3"><input type="radio" name="rb" id="rb3">2Н</label>
									<label class="btn-top-menu2" for="ch7"><input type="checkbox" id="ch7"> Диапазон недели</label></td> <td></td><td></td>
								</tr>
								<tr>
									<td><button class="plusik">+</button></td><td></td><td></td><td></td>		
								</tr>						
							</tbody>
					   </table>
					</div>
				</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifth" aria-expanded="false" aria-controls="collapseFifth">
					Пятница
					</button>
					</h2>
				<div id="collapseFifth" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<table class="vremennaya-table">
							<thead>
								<tr><th width="84%">МП-201</th><th>МП-202</th><th>МП-203</th><th>+</th></tr>
							</thead>
							<tbody>
								<tr>
									<td class="vremennaya"><select class="select12">
									<option>#1</option>
									<option>#2</option>
									<option>#3</option>
									<option>#4</option>
									<option>#5</option>
									<option>#6</option>
									<option>#7</option>
									<option>#8</option>
								</select>	<select class="select123">
									<option hidden>Дисциплина</option>
									<option>Дифференциальные уравнения</option>
									<option>Блокчейн в цифровой экономике</option>
									<option>Принятие решений при многих критериях</option>
									<option>Математика</option>
									<option>Дискретная математика</option>
									<option>Математический анализ</option>
									<option>Линейная алгебра</option>
									<option>Дифференциальная геометрия</option>
								</select></td> <td></td><td></td><td><button class="udalit" background-image: url("images/trash.jpg")></button></td>
								</tr>
								<tr>
									<td class="vremennaya"><select class="select123">
									<option hidden>Преподаватель</option>
									<option>Алеева С.Р.</option>
									<option>Красильникова Е.С.</option>
									<option>Кораблев Ф.Г.</option>
									<option>Маткин И.А.</option>
									<option>Лепчинский М.Г.</option>
									<option>Иванов С.А.</option>
									<option>Тюрина И.А.</option>
									<option>Дымшаков А.И. </option>
								</select>	<select class="select123">
									<option hidden>Преподаватель</option>
									<option>Алеева С.Р.</option>
									<option>Красильникова Е.С.</option>
									<option>Кораблев Ф.Г.</option>
									<option>Маткин И.А.</option>
									<option>Лепчинский М.Г.</option>
									<option>Иванов С.А.</option>
									<option>Тюрина И.А.</option>
									<option>Дымшаков А.И. </option>
								</select> <button class="plusik">+</button></td> <td></td><td></td><td></td>
								</tr>
								<tr>
									<td class="vremennaya">
										<select class="select123">
											<option hidden>Аудитория</option>
											<option>АУД. 436</option>
											<option>АУД. 201</option>
											<option>АУД.314 (2к)</option>
											<option>АУД.115А</option>
											<option>АУД. 437</option>
											<option>АУД. 426А</option>
											<option>АУД. 431</option>
											<option>АУД. А-13</option>
										</select>	<select class="select123">
											<option hidden>Аудитория</option>
											<option>АУД. 436</option>
											<option>АУД. 201</option>
											<option>АУД.314 (2к)</option>
											<option>АУД.115А</option>
											<option>АУД. 437</option>
											<option>АУД. 426А</option>
											<option>АУД. 431</option>
											<option>АУД. А-13</option>
										</select> <button class="plusik">+</button></td> <td></td><td></td><td></td>
									</td>
								</tr>
								<tr>
									<td class="vremennaya"><label for="rb4"><input type="radio" name="rb" id="rb4">1Н</label>
									<label for="rb3"><input type="radio" name="rb" id="rb3">2Н</label>
									<label class="btn-top-menu2" for="ch7"><input type="checkbox" id="ch7"> Диапазон недели</label></td> <td></td><td></td>
								</tr>
								<tr>
									<td><button class="plusik">+</button></td><td></td><td></td><td></td>		
								</tr>						
							</tbody>
					   </table>
					</div>
				</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixth" aria-expanded="false" aria-controls="collapseSixth">
					Суббота
					</button>
					</h2>
				<div id="collapseSixth" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<table class="vremennaya-table">
							<thead>
								<tr><th width="84%">МП-201</th><th>МП-202</th><th>МП-203</th><th>+</th></tr>
							</thead>
							<tbody>
								<tr>
									<td class="vremennaya"><select class="select12">
									<option>#1</option>
									<option>#2</option>
									<option>#3</option>
									<option>#4</option>
									<option>#5</option>
									<option>#6</option>
									<option>#7</option>
									<option>#8</option>
								</select>	<select class="select123">
									<option hidden>Дисциплина</option>
									<option>Дифференциальные уравнения</option>
									<option>Блокчейн в цифровой экономике</option>
									<option>Принятие решений при многих критериях</option>
									<option>Математика</option>
									<option>Дискретная математика</option>
									<option>Математический анализ</option>
									<option>Линейная алгебра</option>
									<option>Дифференциальная геометрия</option>
								</select></td> <td></td><td></td><td><button class="udalit" background-image: url("images/trash.jpg")></button></td>
								</tr>
								<tr>
									<td class="vremennaya"><select class="select123">
									<option hidden>Преподаватель</option>
									<option>Алеева С.Р.</option>
									<option>Красильникова Е.С.</option>
									<option>Кораблев Ф.Г.</option>
									<option>Маткин И.А.</option>
									<option>Лепчинский М.Г.</option>
									<option>Иванов С.А.</option>
									<option>Тюрина И.А.</option>
									<option>Дымшаков А.И. </option>
								</select>	<select class="select123">
									<option hidden>Преподаватель</option>
									<option>Алеева С.Р.</option>
									<option>Красильникова Е.С.</option>
									<option>Кораблев Ф.Г.</option>
									<option>Маткин И.А.</option>
									<option>Лепчинский М.Г.</option>
									<option>Иванов С.А.</option>
									<option>Тюрина И.А.</option>
									<option>Дымшаков А.И. </option>
								</select> <button class="plusik">+</button></td> <td></td><td></td><td></td>
								</tr>
								<tr>
									<td class="vremennaya">
										<select class="select123">
											<option hidden>Аудитория</option>
											<option>АУД. 436</option>
											<option>АУД. 201</option>
											<option>АУД.314 (2к)</option>
											<option>АУД.115А</option>
											<option>АУД. 437</option>
											<option>АУД. 426А</option>
											<option>АУД. 431</option>
											<option>АУД. А-13</option>
										</select>	<select class="select123">
											<option hidden>Аудитория</option>
											<option>АУД. 436</option>
											<option>АУД. 201</option>
											<option>АУД.314 (2к)</option>
											<option>АУД.115А</option>
											<option>АУД. 437</option>
											<option>АУД. 426А</option>
											<option>АУД. 431</option>
											<option>АУД. А-13</option>
										</select> <button class="plusik">+</button></td> <td></td><td></td><td></td>
									</td>
								</tr>
								<tr>
									<td class="vremennaya"><label for="rb4"><input type="radio" name="rb" id="rb4">1Н</label>
									<label for="rb3"><input type="radio" name="rb" id="rb3">2Н</label>
									<label class="btn-top-menu2" for="ch7"><input type="checkbox" id="ch7"> Диапазон недели</label></td> <td></td><td></td>
								</tr>
								<tr>
									<td><button class="plusik">+</button></td><td></td><td></td><td></td>		
								</tr>						
							</tbody>
					   </table>
					</div>
				</div>
				</div>
			</div>
		</main>
	</body>

</html>